bin/
obj/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
launchSettings.json

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

appsettings.json
appsettings.Development.json
appsettings.Production.json

*.log
logs/

.idea/
*.sln.iml

.dotnet/
