<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>

          <ExcludeByFile>**/VesteEVolta/Repositories/**/*.cs</ExcludeByFile>
          <ExcludeByFile>VesteEVolta/Repositories/**/*.cs;VesteEVolta/Repositories/*/*.cs</ExcludeByFile>
          <Exclude>[VesteEVolta]VesteEVolta.Repositories.*</Exclude>
          <Exclude>[VesteEVolta]VesteEVolta.Repositories.CategoryRepositories*</Exclude>
          <Exclude>[VesteEVolta]VesteEVolta.Repositories.RentalRepository*</Exclude>
          <Exclude>[VesteEVolta]VesteEVolta.Repositories.PaymentRepository*</Exclude>
          <Exclude>[VesteEVolta]VesteEVolta.Repositories.RatingRepository*</Exclude>
          <Exclude>[VesteEVolta]VesteEVolta.Repositories.*</Exclude>
          <ExcludeByAttribute>^ExcludeFromCodeCoverageAttribute$</ExcludeByAttribute>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
