<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>

          <!-- Excluir por arquivo (no formato exato do Cobertura) -->
          <ExcludeByFile>Program.cs</ExcludeByFile>
          <ExcludeByFile>Repositories\*</ExcludeByFile>
          <ExcludeByFile>Repositories\**\*</ExcludeByFile>

          <!-- (Opcional) reforço por tipo -->
          <Exclude>[VesteEVolta]*Repository*</Exclude>
          <Exclude>[VesteEVolta]*Repositories*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
